body{
    background-image: url('https://wallpapercave.com/wp/wp9214309.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.custom-offcanvas {
    background-color: #000; /* Color negro */
    color: #fff;           /* Cambia el texto a blanco para contraste */
}

.custom-offcanvas .btn-close {
    filter: invert(1); /* Cambia el color del botón de cierre a blanco */
}

